apipkg==1.4
attrs==17.2.0
Automat==0.6.0
click==6.7
constantly==15.1.0
execnet==1.4.1
hyperlink==17.3.1
incremental==17.5.0
psutil==5.3.1
py==1.4.34
pyhostapdconf==1.0
pytest==3.2.2
pytest-cache==1.0
pytest-xprocess==0.12.1
six==1.10.0
Twisted==17.5.0
txdbus==1.1.0
zope.interface==4.4.2
